#main {
    width: 100%;
    text-align: center;
    height:auto;
    margin:6% auto;
}

.gear_options {
    background: white;
    width: 10vw;
    height: 30px;
    border: none;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

form{
    /*border: red 1px solid;*/
    width:12%;
    margin:3% auto;
    padding: 5px;
}

input[type="submit"] {
    margin-top: 15px;
}

