body {
    font-family: "Airbnb Cereal App", sans-serif;
    background: #6bbcff;
    color: white;
    text-shadow: 2px 2px 3px black;
    overflow: hidden;
}

.login {
    height: 2%;
    margin: 1%;
    text-align: right;
}

.login a {
    color: white;
    text-decoration: none;
}

#logo {
    position: absolute;
    top: 30px;
    left: 3%;
    font-weight: bold;
    transform: scale(1.6);
}

#login_icon {
    transform: scale(0.6);
    transition: 0.3s transform;
}

#login_icon:hover {
    transform: scale(0.8);
}