#main {
    width: 100%;
    text-align: center;
    height:auto;
    margin: 6% auto;
}

.gear_options {
    background: white;
    width: 14vw;
    border: none;
    text-align: center;
    padding: 5px;
    margin: 1vh 0;
}

form{
    width: 20vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3% auto;
    padding: 5px;
}

input[type="submit"] {
    margin-top: 2vh;
}
input[type="date"] {
    width: 13vw;
}

#message_box {
    display: none;
    background: red;
    width: 30vw;
    height: 20vh;
    position: absolute;
    left: 35vw;
    top: 40vh;
}

