#main {
    width: 100%;
    text-align: center;
    margin-top: 6%;
}

ul {
    list-style: none;
    margin-right: 3%;
}

li {
    margin-top: 25px;
}

input[type="submit"] {
    margin-top: 15px;
    background: white;
    width: 10vw;
    height: 30px;
    border: none;
}